.contentBanner {
    background: #f7f7f7;
}

.container .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .row .col-sm-12 {
    background: #fff;
    border-radius: 30px;
    background: #fff;
    padding: 5px 10px;
}

.container .row .col-sm-12 a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    padding-left: 10px;
}