.navbar {
    background: #f85606;
}

#navbarNav ul a{
    color: #fff;
    font-size: 12px;
}

.navbar-toggler-icon {
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar-toggler svg{
    color: #fff;
}